body {
    font-family: 'Arial', sans-serif;
    background-color: #141414;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    padding: 8px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: #e50914;
    color: #fff;
    border: none;
    cursor: pointer;
}

#qrcodeContainer {
    margin-top: 20px;
}

#qrcodeImage {
    max-width: 100%;
}